<div class="container mt-4 ">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de empleados</span>
            <button class="btn btn-dark btn-lg" routerLink="/create-employee" >Agregar</button>
            <h5 *ngIf="employees.length == 0" style="margin-top: 5px;">No hay datos que mostrar</h5>
            <table *ngIf="employees.length > 0" class="table table-striped mt-5 ">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employees">
                    <td>{{employee.nombre}}</td>
                    <td>{{employee.apellido}}</td>
                    <td>{{employee.documento}}</td>
                    <td>{{employee.salario | currency}}</td>
                    <td>
                      <i class="fas fa-edit text-info"></i>
                      <i (click)="deleteEmployee(employee.id)" class="far fa-trash-alt text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              
        </div>
    </div>
</div>